body{
  background-color: #98ADC2;
  font-family: 'Cute Font', cursive;
  background-size: cover;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img{
  width: 90%;
  border-radius: 10%;
}
input{
  color: blue;
  border: 2px solid #E6CC45;
  width: 30%;
  text-align: center;
  font-family: 'Cute Font', cursive;
  font-size: 20px;
  border-radius: 5%;
}
input:hover{
  font-weight: bold;
}
.container{
  background-color: rgba(255,255,255,1);
  border-radius: 5%;
  text-align: center;
  margin: 10% 10% 0;
  height: 100%;

}
.middle{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
#navBar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #E6CC45;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
  border-radius: 5%;
  box-sizing:border-box;
  background-color: white;
  width: 90%;
  transition: .3s;
  margin-left: 5%;
}
#navBar.sticky{
  background-color: #E6CC45;
  position: fixed;
  top: 0;
  width: 90%;
}

#navBar.sticky a{
  color: white;
}

#navBar.sticky a:hover{
  color: blue;
}

.sticky + .container{
  padding-top: 60px;
}
a{
  text-decoration: none;
  color: black;
  font-family: 'Cute Font', cursive;
  font-size: 20px;
}
a:hover{
  color: blue;
  font-weight: bold;
  transition: .5s;
}
.results{
  border-radius: 5%;
  border: 2px solid gold;
  margin: 2% 2%;
  width: 40%;
  justify-content: center;
  padding-right: 5%;
}
ul{
  list-style-type: none;
}
.hide{
  display: none;
}
.servingSize{
  width: 100%;
  height: 25px;
  bottom: 0;
  margin-left: 9%;
}
button{
  background-color: blue;
  color: white;
  margin: 1% 1%;
}

button:hover{
  font-weight: bold;
  font-size: 15px;
  transition: .5s;
  transition-delay: .5s;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top:30%;
  left: 30%;
  width: 40%;
  height: 40%;
  overflow: auto;
  background-color: rgba(255,255,255,1);
  color: blue;
  /* margin: 5%; */
}

.modal-content{
  background-color: rgba(255,255,255,1);
  text-align: center;
  color: black;
  margin: 25%;
}
.close{
  color:red;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.close:hover{
  cursor:pointer;
}
.add{
  position: absolute;
  bottom:0;
  left: 45%;
}
@media screen and (max-width: 480px) {
  .wrapper {
    display:flex;
    flex-direction: column;
  }
  .search{
    width: 100%;
    margin-right: 2%;
  }
  .container{
    height: 100%;
  }
  input{
    width:90%;
  }
  .results{
    width:90%;
  }
  .modal{
    height: 40%;
    width: 97%;
    border: 5px solid blue;
    left:0;
    bottom:0;
  }
  .servingSize{
    margin-left: 2%;
  }
}
